h2 
{ color: blue;
    font-style: italic;


}
.abc 
{
    font-size: medium;
    color: rgb(207, 114, 114);
}
#hehe
{
    color: darkkhaki;
   font-size: larger !important;
}

/* định dạng cho tất cả trong body */
/* thứ tự ưu tiên css: 1/ viết trực tiếp trong thẻ; 2/ trong head; 3/nhúng file ; 4/ dùng !important - mạnh nhất -->cách nào có important thì sẽ được ưu tiên */
body
{
    color: mediumpurple;
}
.click:active
/* active: click chuột sẽ thay đổi */
{
    color: brown;
}
.click:hover
/* hover: di chuột sẽ thay đổi --> mất active vì sẽ ăn theo cái sau là hover */ 
{
    color: #142a5a;
}