.all {
    inline-size: 1;
    text-align: center;
    padding: 30px;
    margin: auto;
/* margin:auto --> căn giữa */
    z-index: 1;
    border-radius: 20px;
    background-color: rgba(128, 128, 128, 0.205) ;
/* rgba(,,,alpha) với alpha là một số nằm trong khoảng từ 0,0 (hoàn toàn trong suốt) đến 1,0 (hoàn toàn mờ). -->chỉnh độ đậm nhạt của nền mà ko ảnh hưởng đến phần tử trong nền */
/* opacity: độ đậm nhạt của nền kéo theo cả phần tử trong nền --> [0.0-1.0] */
    width: 400px;
    height: 480px;
    
   
}
body{
    background-image: url(https://media2.gody.vn/public/mytravelmap/images/2019/6/11/hanguyen121371/70144eee1b9169b6886ba8681423259c8c45a173.jpg);
    background-attachment: scroll;
    /* background-image: nền cho toàn trang */
/* background-image: url() */
/* vị trí nền: background-position */
/* lặp lại nền: background-repeat | x: chiều ngang; y: chiều dọc; no-repeat  */
/* đính kèm nền CSS (xem hình nền sẽ cuộn hay được cố định (sẽ không cuộn với phần còn lại của trang)
    --> background-attachment | fixed: hình ko bị mất; scroll: kéo xuống mất hình nền */
}
.ten {
    font-family:monospace;
    /* font-familiy: định dạng font chữ */
}
.VN {
    width: 20px;
    height: 20px;
}
.avt {
    border-radius: 50%;
/* border-radius: bo tròn ảnh */
    width: 200PX;
    height: 200PX;
}
.icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.click:hover
{
    border: 1px double white ;
    width: 20%;
    border-radius: 10%;
    color: blueviolet;
}